.Pokedex {
  display: grid;
  place-items: center;
}

.Pokedex-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  width: 100%;
  max-width: 800px;
}

.Pokedex-title {
  text-align: center;
  color: #aaa9a9;
}

.Pokecard {
  background-color: #d3d3d3;
  border-radius: 10px;
  padding: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.Pokecard-name {
  color: #302bf7;
}
